
@model Movie

@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Shared/_SideLayout.cshtml";
}


<div>
    <h4>@Model.Title</h4>
    <hr />
    <div>
        <img src="@($"https://image.tmdb.org/t/p/original{Model.PosterPath}")" alt="@Model.Title image" class="trailer-img" width="150" height="200"/>
        @*<video src="@($"https://image.tmdb.org/t/p/original{Model.Videos.Results[0]}")" controls></video>*@
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sem semper,
            iaculis ipsum fermentum, egestas lectus. Donec vel efficitur leo, a condimentum erat.
            Etiam gravida dolor eu elit tempor, sit amet placerat lectus auctor. Sed vehicula, nulla vel rutrum mollis,
            ex diam feugiat elit, quis pretium nisi lorem et turpis. Donec facilisis quis leo in mollis. Cras fermentum nunc elit,
            ut sodales ipsum facilisis nec. Aliquam sed erat dapibus ante ultricies lobortis. In ultrices, ex id convallis congue,
            nibh augue gravida nisl, nec egestas nibh ex non tortor. Integer nec rutrum odio, id volutpat quam.
            Mauris ultrices nunc nec elit commodo, quis suscipit eros blandit.
        </article>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate.Value.ToShortDateString())
        </dd>
    </dl>
</div>

