
@model Movie

@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Shared/_SideLayout.cshtml";
}




<div>
    <h2>@Model.Title</h2>
    <hr />
    <div>
        <img src="@($"https://image.tmdb.org/t/p/original{Model.PosterPath}")" alt="@Model.Title image" class="trailer-img" width="170" height="230" />
        @*<video src="@($"https://image.tmdb.org/t/p/original{Model.Videos.Results[0]}")" controls></video>*@
        <article>
            @Model.Overview
        </article>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ReleaseDate.Value.ToString("dd MMMM yyyy")     
            @*<a class="btn" href="https://www.imdb.com/title/@Model.ImdbId/?ref_=nv_sr_srsg_0">IMDB</a>*@
        </dd>
        <dd>
            <p><a href="https://www.imdb.com/title/@Model.ImdbId/?ref_=nv_sr_srsg_0" class="imdb-logo">IMDb  @Model.VoteAverage/10  @Model.VoteCount</a></p>
        </dd>
    </dl>

    @*<partial name="_MovieItemSlider" model="@ViewBag.recommendedMovies" />*@

</div>

<style>
    .imdb-logo {
        font: 2em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;
        text-shadow: 0 0 .15em #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: bottom;
        padding: .25em .35em;
        border-radius: .15em;
        background: radial-gradient(#ffffb8, #ce981d);
    }
</style>


