
@model Movie

@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Shared/_SideLayout.cshtml";
}




<div>
    <h2>@Model.Title</h2>
    <hr />
    <div>
        <img src="@($"https://image.tmdb.org/t/p/original{Model.PosterPath}")" alt="@Model.Title image" class="trailer-img" width="170" height="230" />
        @*<video src="@($"https://image.tmdb.org/t/p/original{Model.Videos.Results[0]}")" controls></video>*@
        <article>
            @Model.Overview
        </article>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginalTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ReleaseDate.Value.ToString("dd MMMM yyyy")   @Model.VoteAverage/10   Votes:@Model.VoteCount
        </dd>
    </dl>

    @*<partial name="_MovieItemSlider" model="@ViewBag.recommendedMovies" />*@

</div>

