
@model SearchResultMovieModelView

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_SideLayout.cshtml";
}

<h1>@Model.ViewTitle</h1>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="topbar-filter fw" style="background-color:#233a50 ">
        <p style="font-weight:800;font-size:larger;padding:5px">Found <span style="font-weight:800;font-size:larger">@Model.ResultList.Results.Count</span> in total</p>
        @*<a class="list"><i class="ion-ios-list-outline "></i></a>*@
        <a class="grid"><i class="ion-grid active"></i></a>
    </div>
    <div class="flex-wrap-movielist mv-grid-fw">
        @if (Model.ResultList.Results.Count == 0)
        {
            <h1> No Movie Matched The Search</h1>
        }
        else
        {
            @foreach (var item in Model.ResultList.Results)
            {
                <div class="movie-item-style-2 movie-item-style-1">
                    <img src="@($"https://image.tmdb.org/t/p/original{item.PosterPath}")" alt="">
                    <div class="hvr-inner">
                        <a asp-action="MovieDetails" asp-controller="Movies" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                    </div>
                    <div class="mv-item-infor">
                        <h6>@item.Title</h6>
                        <p class="rate"><i class="ion-android-star"></i><span>@item.VoteAverage</span> /10</p>
                    </div>
                </div>
            }
        }

    </div>
</div>


